#menu * { list-style:none;}
/* #menu li{ line-height:180%;} */
#menu li a{ text-decoration:none;}
#menu li a:before{ content:"\025b8"; color:#ddd; margin-right:4px;}
#menu input[name="list"] {
	position: absolute;
	left: -1000em;
	}
#menu label:before{ content:"\025b8"; margin-right:4px;}
#menu label {cursor: pointer;}
#menu input:checked ~ label:before{ content:"\025be";}
#interior{display: none;}
#interior li a{ text-decoration:none;}
#interior li a:before{ content:"\0270f"; color:#aaa; margin-right:4px;}
#menu input:checked ~ ul{display:block;}

img.logo-head {
    height: 59px;
    max-width: none;
}

img#adium{
    height: 50px;
    max-width: none;
}

section.bg-dark.align-items-center.d-flex {
    background-color: rgb(98 56 246 / 75%) !important;
	padding: 0 !important;
}

#nav-eventos-sociales{
	box-shadow: 0px 5px 30px #ddd;
}

.card{
	max-height: 500px;
    height: 100%;
}

#price-card{
	width: 42%;
}

#title-card{
	width: 58%;
}

img.light-mode-item {
    max-width: 100%;
}

#w-a{
	width: 55px;
}

.b-shadow-lila{
	box-shadow: 0px 0px 25px 2px rgb(98 56 246) !important;
	background-color: rgb(98 56 246 /10%) !important;
}

.b-shadow-rosa{
	box-shadow: 0px 0px 25px 2px rgb(242 101 251) !important;
	background-color: rgb(242 101 251 /10%) !important;
}

.b-shadow-azul{
	box-shadow: 0px 0px 25px 2px rgb(0 222 191) !important;
	background-color: rgb(0 222 191 /10%) !important;
}

.b-shadow {
	box-shadow: 0px 0px 25px 2px #aaa !important;
}

.b-shadow-2 {
	box-shadow: 0px 0px 10px 5px #fff !important;
}
.fechas-horas{
	background-image: linear-gradient(0deg, #3E76B1, #0E203A);
}
.titulos{
	padding-left: 18px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #0E203A;
	box-shadow: -5px 0 4px -4px #000;
	background: linear-gradient(90deg, transparent 2%,rgba(255, 255, 255, .75)  0%,rgba(255, 255, 255, .75)  100%);
}
.titulos-m{
	padding-left: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #0E203A;
	box-shadow: -5px 0 4px -4px #000;
	/* background-color: #F0F0F0 !important; */
}
.subtitulos{
	font-size: 18px;
	color: #313484;
}
.subtitulos-2{
	font-size: 16px;
	color: #5C5C5C;
}
.subtitulos-m{
	font-size: 16px !important;
	color: #FFF;
}
.subtitulos-m-2{
	font-size: 14px !important;
	color: #FFF;
}
.card-horas {
    word-wrap: break-word;
    background-color: #fff;
    border: 0 solid rgba(0, 0, 0, 0.125);
	padding: 5px;
	color: #FFF !important;
}
.cajita{
	word-wrap: break-word;
    background-color: #fff;
    border: 4px solid rgba(0, 0, 0, 0.125);
	padding: 5px;
	color: #FFF !important;
	text-align: center;
	font-weight: 900;
	font-family: arial;
	position: relative;
	text-align: left;
}
.sb3:before{
content: "";
width: 0px;
height: 0px;
position: absolute;
border-left: 10px solid #3E76B1;
border-right: 10px solid transparent;
border-top: 10px solid #3E76B1;
border-bottom: 10px solid transparent;
left: 19px;
bottom: -19px;
}

@media (min-width: 1200px) {
	#adium{
		margin-left: 40%;
	}

	img.logo-ha{
		margin-left: 40%;
	}

	img.logo-ha-2{
		height: 50px;
	}

	#title-e-s{
		margin-bottom: 3%; 
		margin-top: 3%;
	}

}

@media (max-width: 1199px) {
	#adium{
		display: none;
	}

	img.logo-ha{
		margin-left: 40%;
	}

	#adium-nb{
		 display: none;
	}

	#title-e-s{
		margin-bottom: 6%; 
		margin-top: 6%;
	}

	.card-size-movil {
		height: 100%;
		max-height: -webkit-fill-available !important;
	}
}